<header class="container-fluid row" style="background-color:#00897B;color:white;height:300px">

	<h1 style="margin-top:80px;margin-left:30px; font-family:Garamond">WELCOME TO LEO</h1>
    <img  src="images/friend1.jpg" style="margin-top: 80px;margin-left:100px" class="img-circle"  alt="Cinque Terre" width="180" height="180">
</div>

</header>
<section>
<div class="row">
<div class="container-fluid">
		<div class="col-md-12 col-xs-12">
          
			<div class="col-md-12">
			<div class="col-xs-12 text-center">
          	
          </div>
			<div class="form-group col-xs-12 col-sm-12">

			<md-button class="md-raised  btn-w-md md-primary col-xs-12" style="background-color:#00897B;/*margin-left: 80px;*/margin-top:300px; color:white;" ui-sref="register" >Became a Friend</md-button>
			</div>
			<div class="text-center col-xs-12 col-sm-12">
				<p>Please Shere Your Ideas  <a  ui-sref="contact">Here</a></p>
			</div>
			</div>
		</div>
	</div>
</div>
</section>
