<header class="row" style="background-color:#00897B;color:white;font-size:20px;">
  <md-button class="md-fab md-primary"  style="background-color:#00897B;" ng-click="$back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
</md-button>
&nbsp;<span style="text-align:center">BE FRIEND WITH ME</span> <!-- &nbsp;<i class="fa fa-smile-o" style="color:red" aria-hidden="true"></i> -->
</header>
<div class="row">
   
	<div class="col-md-12">
	 <div class="text-center">
	 	
	 </div>
	      <form name="registerForm">
	 	      <md-input-container class="md-block">
                                <label   style="color:#00897B;">First Name</label>
                                <input   style="border-color:#00897B;" required name="firstname " md-minlength="4" md-maxlength="15" ng-model="user.firstname">
                                <div ng-messages="registerForm.name.$error" role="alert" multiple>
                                    <div ng-message="required" class="name-message">Name is required.</div>
                                    <div ng-message="md-minlength" class="name-message">Firstname must be 4 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label style="color:#00897B;">Last Name</label>
                                <input required style="border-color:#00897B;" name="lastname" md-minlength="4" md-maxlength="15" ng-model="user.lastname">
                                <div ng-messages="registerForm.name.$error" role="alert" multiple>
                                    <div ng-message="required" class="name-message">Name is required.</div>
                                    <div ng-message="md-minlength" class="name-message">Lastname must be 4 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label style="color:#00897B;" >Email</label>
                                <input  style="border-color:#00897B;" required name="name" type="email" md-minlength="4" md-maxlength="15" ng-model="user.email">
                                <div ng-messages="registerForm.name.$error" role="alert" multiple>
                                    <div ng-message="required" class="name-message">Name is required.</div>
                                    <div ng-message="md-minlength" class="name-message">Firstname must be 4 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label style="color:#00897B;" >Mobile</label>
                                <input style="border-color:#00897B;" required name="phone" md-minlength="4" md-maxlength="10" ng-model="user.mobile">
                                <div ng-messages="registerForm.phone.$error" role="alert" multiple>
                                    <div ng-message="required" class="name-message">Name is required.</div>
                                    <div ng-message="md-minlength" class="name-message">Firstname must be 4 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label  style="color:#00897B;">Alternative Number</label>
                                <input style="border-color:#00897B;" md-minlength="10" md-maxlength="12" ng-model="user.altmobile">
                            </md-input-container>
		<!-- <div class="form-group">
			<label for="firstname">First Name</label>
			<input type="text" class="form-control" ng-model="user.firstname" name="firstname" maxlength="15" ng-pattern="/^[a-zA-Z]*$/">
		</div>
		<div class="form-group">
			<label for="lastname">Last Name</label>
			<input type="text" class="form-control" ng-model="user.lastname" name="lastname" ng-pattern="/^[a-zA-Z]*$/">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" ng-model="user.email">
		</div>
		<div class="form-group">
			<label for="mobile">Mobile</label>
			<input type="number" class="form-control" maxlength="10" ng-model="user.mobile" name="mobile" ng-pattern="/^[0-9]*$/">
		</div>
 -->		<!-- <div class="form-group">
			<label for="altmobile">Alternative No:</label>
			<input type="number" class="form-control" maxlength="12" ng-model="user.altmobile" name="altmobile" ng-pattern="/^[0-9]*$/"
> 
		</div> -->
	<!-- 	<md-input-container class="md-block">
        <label style="color:#00897B;">Registration Type:</label>
        <md-select ng-model="user.type">
          <md-optgroup>
            <md-option value="1">Driver & &nbsp; Owner</md-option>
            <md-option value="2">Owner</md-option>
            <md-option value="3">Driver</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
       -->
		
		      <md-button style="background-color:#00897B;color:white" class="md-raised md-primary" ng-disabled="!user.firstname || !user.lastname || !user.mobile || !user.type" ng-click="register(user)">Click to Became Friend</md-button>

		</form>

	</div>
</div>